@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import "tailwindcss";

@theme {
  --font-sans:
    "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;

  --color-main-400: #30cea1;
  --color-main-500: #2ea98c;
  --color-main-100: #defaf2;
  --color-navy: #063152;
  --color-gray-100: #e5e5e5;
  --color-gray-400: #9d9d9d;
  --color-gray-500: #7b7b7b;
  --color-border-1: #d9d9d9;
}

/* 스크롤바 숨기기 (기능은 유지) */
.no-scrollbar {
  -ms-overflow-style: none; /* IE or Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  width: 0;
  height: 0;
}
